<h1>Listing statuses</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.message %></td>
        <td><%= link_to 'Show', [@care_circle, status] %></td>
        <td><%= link_to 'Edit', edit_care_circle_status_path(@care_circle,status) %></td>
        <td><%= link_to 'Remove', [@care_circle, status], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_care_circle_status_path(@care_circle) %>
