<fieldset>

	<%= f.label :time %> 
  	<div class="input-append timeinput-wrapper">
      <%= f.input_field :time, as: :string, :class=> "datepicker", :placeholder => "12:00 PM", :data => {:datepicker => :datepicker, :format => "HH:mm PP"} %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

	<%= f.input :days, :collection => MedicationReminder.days_of_the_week, :as => :check_boxes, :item_wrapper_class => 'inline' %>
  
  <%= f.hidden_field :_destroy %>
	<%= link_to('#', class: "remove_fields btn btn-danger btn-mini") do %>
		<i class="icon-remove"></i> Remove medication time
	<% end %>
	
	<hr>
	
</fieldset>