<h1>Charts</h1>

<% if (@charts.length == 0) then %>

<form class="form-vertical">
	<div class="control-group select">
 		<label class="select control-label" for="chart_source">Select chart:</label>
 		<div class="controls">
 			<select class="select optional" id="doctor_source" name="chart[source]">
	 			<option value="0">LifeSource Scale</option>
	 			<option value="1">Blood Pressure</option>
	 		</select>
	 	</div>
	</div>
</form>

<%= image_tag "/images/demo/chart.jpg", :width => "300", :height => "200" %>

<% else %>

	<table>
	  <thead>
	    <tr>
	      <th>Care circle</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @charts.each do |chart| %>
	      <tr>
	        <td><%= chart.care_circle %></td>
	        <td><%= link_to 'Show', [@care_circle, chart] %></td>
	        <td><%= link_to 'Edit', edit_care_circle_chart_path(chart) %></td>
	        <td><%= link_to 'Remove', care_circle_chart_path(@care_circle, chart), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<%= link_to 'New Chart', new_care_circle_chart_path(@care_circle) %>

<% end %>

<br>


