<!-- <h1><span style="color:#97a953">my</span><span style="color:#0078bc">Wellmark</span></h1> -->

<%= image_tag("/images/demo/mywellmark-logo.gif", :width => "232", :height => "62", :alt => "myWellmark", :class => "logo") %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Claims &amp; Spending</a></li>
  <li><a href="#">My Benefits</a></li>
  <li><a href="#">My Health</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">My Account</a></li>
</ul>

<div class="clearfix">
	<%= image_tag("/images/demo/mywellmark-claims.gif", :width => "632", :height => "231", :alt => "My Claims Summary", :class => "claims pull-left") %>
</div>
<%= image_tag("/images/demo/mywellmark-message-center.gif", :width => "312", :height => "332", :alt => "Message Center", :class => "messages pull-left") %>

<%= image_tag("/images/demo/mywellmark-find-doctor-or-facility.gif", :width => "322", :height => "608", :alt => "Find Doctor or Facility", :class => "facility pull-left") %>

<!--
<h2>My Claims Summary</h2>
<table class="table table-hover claims-table-list">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Service Date</th>
        <th>Provider</th>
        <th>Amount Charged</th>
        <th>Your Share</th>
        <th>Status</th>
        <th>Issue Date</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      
      <tr>
        <td>Kate</td>
        <td>11/23/12</td>
        <td></td>
        <td>$6.33</td>
        <td><%= link_to 'See Details', '#' %></td>
        <td>Paid</td>
        <td>11/25/12</td>
        <td><%= link_to 'Details', '#' %></td>
      </tr>
      
      <tr>
        <td>Kallie</td>
        <td>11/11/12</td>
        <td>Robert Jones</td>
        <td>$49.99</td>
        <td>$0</td>
        <td>Paid</td>
        <td>11/25/12</td>
        <td><%= link_to 'Details', '#' %></td>
      </tr>

      <tr>
        <td>Kate</td>
        <td>11/24/12</td>
        <td>Andrew Smith</td>
        <td>$165.03</td>
        <td><%= link_to 'See Details', '#' %></td>
        <td>Paid</td>
        <td>11/25/12</td>
        <td><%= link_to 'Details', '#' %></td>
      </tr>

      <tr>
        <td>Jason</td>
        <td>11/24/12</td>
        <td>Michelle Meyer</td>
        <td>$454.00</td>
        <td>$90.80</td>
        <td>Paid</td>
        <td>11/18/12</td>
        <td><%= link_to 'Details', '#' %></td>
      </tr>

      <tr>
        <td>Kate</td>
        <td>11/01/12</td>
        <td></td>
        <td>$6.33</td>
        <td><%= link_to 'See Details', '#' %></td>
        <td>Paid</td>
        <td>11/02/12</td>
        <td><%= link_to 'Details', '#' %></td>
      </tr>


    </tbody>
  </table>
  <%= link_to "See all available claims and medical EOBs", "#" %>
-->

