<h1>Doctors</h1>

<% if (@doctors.length == 0) then %>

 <p>There are no doctors.</p>
 
<% else %>

  <table class="table table-hover medication-table-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <!--<th></th>-->
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.name %></td>
          <td><%= doctor.phone %></td>
          <td><%= doctor.address %></td>
          <td><%= doctor.city %></td>
          <td><%= doctor.state %></td>
          <!--<td><%= link_to 'Show', [@care_circle, doctor] %></td>-->
          <td><%= link_to 'Edit', edit_care_circle_doctor_path(@care_circle, doctor) %></td>
          <td><%= link_to 'Remove', care_circle_doctor_path(@care_circle, doctor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to( new_care_circle_doctor_path(@care_circle), { :class=> "btn" } ) do %>
  <i class="icon-plus"></i> Add Doctor
<% end %>
