<div id="dashboard-home">
  
  <div class="clearfix header">

      <h1 class="pull-left">Care for Mom <i class="icon-smile" style="color:green;"></i></h1>
    
    <div class="options pull-right" style="">
    	<%= link_to(new_care_circle_appointment_path(@care_circle), id: "new-appointment-link", :class => "btn btn-small pull-left", :style => "margin-right:10px;") do %>
    	  <i class="icon-time"></i> New Appointment
    	<% end %>
    	<%= link_to(caregivers_path, id: "new-caregiver-link", :class => "btn btn-small pull-left") do  %>
    	  <i class="icon-search"></i> Find Caregiver
    	<% end %>
    </div>
    
  </div>
  
  <hr class="top" />
  
  <ul id="activities-list" class="media-list">
    <li class="media status-new">
  	  <a class="pull-left thumbnail" href="#">
        <%= image_tag("/images/demo/evin-square-1.jpg", :class => "media-object", :width => "64", :height => "64") %>
      </a>
  		<div class="media-body">
        <form class="form-horizontal">
        	<div class="control-group status-box">
				    <div class="">
				    	<textarea rows="3" class="border-box" placeholder="What's on your mind?"></textarea>
				    	<button class="btn photo"><i class="icon-camera"></i> Attach photo</button>
				    	<button class="btn  concern-circle">
					      <label class="checkbox">
					        <input type="checkbox"> Send to ConcernCircle
					      </label>
				    	</button>
				    </div>
				  </div>
        </form>
  		</div>
  	</li>
  	<% @activities.each do |activity| %>
  		<% case %>
  			<% when (activity.type == :medication) %>
  				<li class="media medication thumbnail">
  					<label class="checkbox">
  			      <input type="checkbox"> <h4>Take <%= activity.title %>: <%= activity.text %> (<%= activity.date.strftime("%I:%M %p") %>)</h4>
  			    </label>
  				</li>
  			<% when (activity.type == :status) %>
  				<li class="media status">
  				  <a class="pull-left thumbnail" href="#">
    		      <%= image_tag("/images/demo/evin-square-1.jpg", :class => "media-object", :width => "64", :height => "64") %>
    		    </a>
  					<div class="media-body thumbnail">
  			      <h5 class="media-heading"><%= activity.title %></h5>
  			      <p><%= activity.text %></p>
  					</div>
  				</li>
  			<% when (activity.type == :appointment) %>
  				<li class="media appointment thumbnail">
  					<div class="media-body">
  			      <h5 class="media-heading"><%= activity.title %></h5>
  			      <p>Appointment at <b><%= activity.date.strftime("%B #{activity.date.day.ordinalize} at %l:%M%p") %></b></p>
  					</div>
  				</li>
  			<% when (activity.type == :note) %>
  				<li class="media note">
  					<div class="media-body">
  			      <h5 class="media-heading"><%= activity.title %> - <%= activity.date.strftime("%B #{activity.date.day.ordinalize} at %l:%M%p") %></h5>
  			      <p><%= activity.text %></p>
  				</div>
  				</li>
  		<% end %>
  	<% end %>
  	<li class="media star thumbnail">
  		<a class="pull-left thumb" href="#">
  			<i class="icon-star" style="font-size:40px;color:orange;"></i>
	    </a>
			<div class="media-body">
				<p>
					<h4 class="media-heading">Breakfast Tip! Try whole grain cereal with skim milk or eggs and whole wheat toast with margarine today.</h4>
				</p>
			</div>
		</li>
		<li class="media status">
      <a class="pull-left thumbnail" href="#">
        <%= image_tag("/images/demo/mom-square-1.jpg", :class => "media-object", :width => "64", :height => "64") %>
      </a>
      <div class="media-body thumbnail">
        <h5 class="media-heading">Mom</h5>
        <p>Hi honey, I have an appointment with Dr. Pargulski on Tuesday at 2pm. I need a ride. Can you arrange transportation?</p>
   
        <!-- Nested media object -->
        <hr>
        <div class="media status thumbnail">
          <a class="pull-left thumbnail" href="#" style=" background-color: #fff; ">
  		      <%= image_tag("/images/demo/evin-square-1.jpg", :class => "media-object", :width => "64", :height => "64") %>
  		    </a>
  		    <div class="media-body">
  		      <h5 class="media-heading">Evin Ollinger</h5>
  		      <p>Hi Mom, I will have a driver pick up at 1:30pm to take you to the doctor.</p>
  				</div>
      </div>
    </li>
  	<li class="media hug thumbnail">
  		<a class="pull-left thumb" href="#">
	      <i class="icon-heart" style="font-size:40px;color:red;"></i>
	    </a>
			<div class="media-body">
				<p>
					<h4 class="media-heading">Aunt Mary sends you a <span>hug</span> and has added a picture to your CareWall. </h4>
				</p>
			</div>
		</li>
		<li class="media appointment thumbnail">
  		<a class="pull-left thumbnail" href="#">
  			<%= image_tag("/images/demo/case-manager.png", :class => "media-object", :width => "64", :height => "64") %>
	    </a>
			<div class="media-body">
				<p>
					<h4 class="media-heading">Martha, you have a Physical Therapy appointment scheduled on Wednesday 10/2/13 at 2:00 at your house. </h4>
				</p>
			</div>
		</li>
  	<li class="media case-manager-complete thumbnail">
  		<a class="pull-left thumbnail" href="#">
	      <%= image_tag("/images/demo/caregiver-square-2.jpg", :class => "media-object", :width => "64", :height => "64") %>
	    </a>
			<div class="media-body">
	      <h5 class="media-heading">Caregiver Task Completed - 9/28 3:30 PM</h5>
	      <p>Your mom is a gem! I prepared meals for the next two days, brushed her hair, and we played cards.</p>
	      <p>
		      <table>
		      	<tbody>
		      		<tr>
		      			<td>Weight: <b><%= link_to "170lbs", "#" %></b></td>
		      			<td>Picture: <b><%= link_to "View Picture", "#" %></b></td>
		      		</tr>
		      		<tr>
		      			<td>Payment: <b>$100</b></td>
		      			<td>Time: 5 hours</td>
		      		</tr>
		      	</tbody>
		      </table>
	      </p>
	      <p>
	      	<button class="btn btn-success" type="button"><i class="icon-thumbs-up"></i> Approve</button> 
	      	<button class="btn" type="button"><i class="icon-zoom-in"></i> Review</button> 
	      </p>
			</div>
		</li>
  </ul>


</div>